# Build and binary folders
[Bb]in/
[Oo]bj/
**/[Bb]in/
**/[Oo]bj/
node_modules/
**/node_modules/
dist/
**/dist/
.vscode/
.idea/
*.user
*.suo
*.log
uploads/
Uploads/
mysql_data/

# Database files
*.db
*.db-shm
*.db-wal
project_management.db
